@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}

menu {
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: end;
    z-index: 3;
}

menu .container {
    width: 95%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(to right, #ffffff, #f8f9fa); */
    background-color: #1650d6;
}
menu .container.active {
    width: 100%;
    position: fixed;
    top: 0%;
}

menu .container img {
    width: 15%;
    height: 100%;

 
}

menu .container ul {
    display: flex  ;

    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 30px;
}

menu .container ul li {
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.3px;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
    text-align: center;
}

menu .container ul li:hover {
    color: #e41e31;
}
menu .container ul .active{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #e41e31;
    transition: width 0.3s ease;
    color: #e41e31;
}
menu .container ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #e41e31;
    transition: width 0.3s ease;
}

menu .container ul li:hover::after {
    width: 100%;
}
.service-list{
    position: absolute;
    top: 100%;
    left: 20%;
    width: 200px !important;
    height: auto !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1650d6;
    padding: 20px !important;
    opacity: 0;
    display: none;
}
.service-list li{
    text-align: start !important;
    width: 100%;
  /*   border: 1px solid; */
}
.toggle {
    display: none;
}
.res-menu{
    display: none;
  }
@media (max-width:758px){
    menu .container {
        width: 100%;
     /*    background-color: blue;
        height: 60px; */
        background-color: white;
        
    }
    menu .container ul {
        display: none;
    }
    .toggle {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #044697;
      
    }
    .toggle img{
        filter:  invert(1);
    }
    .toggle2 {
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #044697;
       
    }
    .toggle2 img:nth-child(2){
        width: 35px;
        height: 35px;
        filter: invert(1);
    }
    .toggle2 img:nth-child(1){
        width: 60%;
        height: 100%;
       
    }
    .res-menu{
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: white;
        height: 100%;
        width: 60%;
        z-index: 10;
        top: 0;
        left: 0;
        transform: translate(-400px);
      }
      .res-menu .container{
        display: flex;
        flex-direction: column;
     height: 95%;
      }
      .res-menu .container ul{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        
        color: black;
      }
      .res-menu .container ul li{
        color: black;
        border-bottom: 1px solid gray;
        width: 100%;
        text-align: end;
      }
}