.investors-information{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* padding: 20px; */
}
.investors-information h2{

    padding: 20px;
}
.investors-information ul{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    gap: 2px    ;
}
.investors-information ul li{
    padding: 5px;
    box-shadow: 0px 0px 2px 0px rgb(182, 181, 181);
    cursor: pointer;
}
.investors-information ul li.active{
    background-color: #1650d6;
    color: white;
    box-shadow: 0px 0px 0px 0px rgb(182, 181, 181);
}
.pdf-docs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px; /* optional spacing between cards */
    justify-content: center;
    align-items: start;
 
}
.pdf-docs .card {
    width: 100%; /* takes full column width */
    max-width: 200px;
}
.pdf-docs .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px   ;
    cursor: pointer;
}
.pdf-docs .card img{
    width: 50px;
    height: 50px;
}
.credit-rating{
    width: 100%;
}
.credit-rating-content{
    display: flex;
    flex-direction: column;
}
.credit-rating-content .header{
    padding: 15px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.credit-rating-content .body{
    display: flex;
    width: 100%;
    padding: 20px;
    gap: 30px   ;
    justify-content: center;
}
/* .credit-rating-content .body .card{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
} */
.credit-rating-content .body .card img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
}
.name p{
    font-size: 15px;
}
.card .content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
 /*    gap: 20px   ; */
}
.card .content p{
    color: black;
    font-size: 18px;
}
.view p {
    font-size: 13px;
}
/* .allitem2{
    height: 350px;
} */

.spinner {
    width: 100%;
    z-index: 20;
    height: 100%;
    position: absolute;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.spinner.fade-out {
    opacity: 0;
    pointer-events: none;
}

.cube1,
.cube2 {
    background-color: #333;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}